
/* minimal layar ukuran sedang */
@media screen and (min-width: 700px){
    #restaurants{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }
    
    .restarant-list__header__image{
      width: 100%;
      height: 30vw;
      align-items: center;
    }

    img.logo{
      width:25%;
      height: 25%;
    }
  
    .hero__title{
      font-size: 35px;
    }
  
    .hero__tagline{
      font-size: 18px;
    }
  
    article{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }
    
    .headline{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #headline__content{
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 100%;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      margin: 10px 0 20px 10px;
      padding: 15px;
      background-color: #5CB969;
      color: #ffffff;
    }
    
    #headline__content h1{
        font-size: 20px;
    }
    
    #headline__content h2{
      font-size: 18px;
      margin-top: 10px;
    }
    
    #headline__content p{
      font-size: 16px;
      margin-top: 10px;
    }
    
    #headline__img{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }
  
    img.img1, .img2, .img3, .img4{
      width: 42vw;
    }
    
    .restaurant-list__content p{
      font-size: 18px;
    }
  
    .restaurant-list__content h3 a{
      font-size: 22px;
    }
  }
  
  /* minimal layar ukuran besar */
  @media screen and (min-width: 1200px){
    #restaurants{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    } 
  
    img.logo{
      width: 20%;
      height: 20%;
    }
  
    .hero{
      min-width: 1000px;
    }
  
    .content{
      padding: 32px;
      flex-direction: row;
    }
  
    .headline{
      display:flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
    }
    
    #headline__content{
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 100%;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      margin: 10px 0 20px 10px;
      padding: 15px;
      background-color: #5CB969;
      color: #ffffff;
    }
    
    #headline__content h1{
        font-size: 20px;
    }
    
    #headline__content h2{
      font-size: 18px;
      margin-top: 10px;
    }
    
    #headline__content p{
      font-size: 16px;
      margin-top: 10px;
    }
    
    section article #headline__img{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      position: absolute;
      right: 0;
    }
  
    img.img1, .img2, .img3, .img4{
      width: 27vw;
    }
  }
  
  /*maksimal layar ukuran kecil*/
  @media screen and (max-width: 700px){
    .navbar-container{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #5CB969;
      margin: 0;
    }
  
    #drawer{
      text-align: center;
      display: flex;
    }
  
    .drawer-list{
      position: fixed;
      top: 0;
      padding: 10px 0 0 0;
      width: 250px;
      height: 25%;
      transform: translate(-350px, 0);
      transition: transform 0.3s ease-in-out;
      background-color:#ffffff;
    }
    
    .drawer-list.open{
      transform: translate(0,0);
    }
  
    img.logo{
      text-align: center;
      display: flex;
      justify-content: center;
      width: 50%;
      height: 50%;
      padding: 0;
      margin: auto;
    }
  
    #hamburger{
      display: block;
      font-size: 32px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      margin: 0 0 0 20px; 
      position: absolute;
      z-index: 1;
      left: 0;
      min-width: 44px;
      min-height: 44px;
    }
    
    .nav__list {
      list-style-type: none;
      padding: 0 16px;
      display: flex;
      gap: 0px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content:center;
      height: 100%;
    }
  
    .nav__item{
      padding: 5px 0px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 16px;
      min-width: 44px;
      min-height: 44px;
    }
    
   .nav__item a {
    color: #333;
    text-decoration: none;
    min-width: 44px;
    min-height: 44px;
    }
  
    .hero__title{
      font-size: 20px;
    }
  
    .hero__tagline{
      font-size: 14px;
    }
  
    .headline{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    #headline__content{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      margin: 10px 0 20px 10px;
      padding: 15px;
      background-color: #5CB969;
      color: #ffffff;
    }
  
    #headline__content h1{
        font-size: 20px;
    }
    
    #headline__content h2{
      font-size: 18px;
      margin-top: 10px;
    }
    
    #headline__content p{
      font-size: 16px;
      margin-top: 10px;
    }
  
    .restarant-list__header__image{
      width: 100%;
      height: 50vw;
      align-items: center;
    }
    
    #headline__img{
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  
    img.img1, .img2, .img3, .img4{
      width: 70vw;
    }
  }